DATA_DIR=./data
MODEL_DIR=./backend/models
LOG_LEVEL=INFO

ARXIV_START_YEAR=2000
ARXIV_END_YEAR=2025
PAPERS_PER_CATEGORY_PER_YEAR=100

API_HOST=0.0.0.0
API_PORT=60000
SIMILARITY_TOP_K=5
PINECONE_API_KEY=
PINECONE_INDEX_HOST=
PINECONE_NAMESPACE=__default__
PINECONE_TEXT_FIELD=text
PINECONE_API_VERSION=2025-01
PINECONE_TIMEOUT_SECONDS=5.0

